.loadingBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transform-origin: 0 0;
  background-color: rgb(140, 20, 230);
  filter: drop-shadow(2px 2px 2px rgba(170, 140, 250, 0.6));
}
